<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Inventory</title>
		<link rel="shortcut icon" href="~/Images/rc.png" type="image/x-icon">
		<!-- Bootstrap CSS -->
		<script src="~/bootstrap/js/bootstrapbundle.js"></script>
		<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="~/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
		<!-- jQuery -->
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<!-- DataTable -->
		<link href="~/assets/datatable1/css/datatable.css" rel="stylesheet" />
		<script src="~/assets/datatable1/js/datatable.js"></script>
		<!-- Custom JavaScript -->
		<script src="~/customjavascript/commoncontrol.js"></script>
		<!-- FontAwesome -->
		<script src="~/font-awesome/js/all.js"></script>
		<script src="~/font-awesome/js/all.min.js"></script>
		<link href="~/font-awesome/css/all.css" rel="stylesheet" />
		<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
		<!-- Select 2 -->
		<link href="~/assets/select2/css/select2.css" rel="stylesheet" />
		<script src="~/assets/select2/js/select2.js"></script>
		<!-- Sweet Alert -->
		<script src="~/assets/sweetalert/sweetalertjs/sweetalert.js"></script>
		<!-- DatePicker -->
		<script src="~/assets/datepicker/js/datepicker.js"></script>
		<link href="~/assets/datepicker/css/datepicker.css" rel="stylesheet" />
		<!-- Dowenload to Excal -->
		<script src="~/dowenlodtoexcal libraray/excaldowenlod.js"></script>
		<!-- Axuse livraray.js -->
		<script src="~/customjavascript/axuse.js"></script>
		<!-- Custom Css Starts -->
	</head>

	<body>
		@RenderBody()
	</body>

</html>